.post-tag-label {
  font-weight: bold;
}

.post-tag {
  border: 1px solid #337ab7;
  border-radius: 8px;
  padding: 2px;
  background-color: #337ab7;
  margin-right: 2px;
}

.post-tag a {
  color: white;
}

.post-title {
  margin-bottom: 0px;
}

.post-body {
  margin-top: 4px;
  margin-bottom: 4px;
}
